

body{
   background:#d8d8da;   
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
background-color: #c95d0f ;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: bold;
   text-decoration: underline;
   text-transform: uppercase;
  font-size: 50px;
 position: fixed;
   

}
 .palette{
    width: 400px;
    height: 400px;
    background-color: rgba(70, 72, 72, 0.207);
    margin: 10% auto;
    position: relative;
    
   
    
}
.sticky{
    position:sticky;
    top:0;      
background-color: #c95d0f ;
    padding:15px;
    text-align:center;
    color:rgb(20, 20, 20);
    font-size: 50px;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.child1{
    position:absolute;
    top:80px;
    left:80px;
    background-color: #2c0534;
    width: 100px;
    height: 100px;
    z-index: 2;
    border-radius: 30%;
}

.child2{
    position:absolute;
    top:80px;
   left:100px;
  background-color: #3e084f;
  z-index: 3;
     width: 100px;
    height: 100px;
    border-radius: 30%;
}
.child3{
    position:absolute;
    top:80px;
    left:120px;
  background-color: #520569;
    z-index:4;
     width: 100px;
    height: 100px;
border-radius: 30%;
}
.child4{
    position:absolute;
    top:80px;
    left:140px;
   background-color: #613e9c;
    z-index:5;
     width: 100px;
    height: 100px;
border-radius: 30%;
}
.child5{
    position:absolute;
    top:80px;
    left:160px;
    background-color: #9d79dc;
    width: 100px;
    height: 100px;
    z-index: 6;
    border-radius: 30%;
}

.child6{
    position:absolute;
    top:80px;
   left:180px;
   background-color: #ae91d8;
    z-index:7;
     width: 100px;
    height: 100px;
    border-radius: 30%;
}
.child7{
    position:absolute;
    top:80px;
    left:200px;
  background-color: #ceb1f8;
    z-index:8;
     width: 100px;
    height: 100px;
border-radius: 30%;
}

.child8{
    position:absolute;
    top:100px;
   left:80px;
     background-color: rgb(3, 51, 34);
      width: 100px;
    height: 100px;
    z-index: 2;
    border-radius: 50%;
}

.child9{
    position:absolute;
    top:120px;
     left:100px;
     background-color: rgb(6, 71, 49);
  z-index: 3;
      width: 100px;
    height: 100px;
     border-radius: 50%;
}
.child10{
    position:absolute;
    top:140px;
   left:120px;
    background-color: rgb(8, 86, 59);
    z-index:4;
    width: 100px;
    height: 100px;
 border-radius: 50%;
}

.child11{
    position:absolute;
    top:160px;
  left:140px;
     background-color: rgb(14, 151, 103);
    z-index:5;
      width: 100px;
    height: 100px;
 border-radius: 50%;
}
.child12{
    position:absolute;
    top:180px;
  left:160px;
     background-color: rgb(15, 194, 131);
    z-index:6;
      width: 100px;
    height: 100px;
 border-radius: 50%;
}
.child13{
    position:absolute;
    top:200px;
  left:180px;
     background-color: rgb(71, 228, 173);
    z-index:7;
      width: 100px;
    height: 100px;
 border-radius: 50%;
}
.child14{
    position:absolute;
    top:220px;
  left:200px;
     background-color: rgb(118, 233, 193);
    z-index:8;
      width: 100px;
    height: 100px;
 border-radius: 50%;
}

.child15{
    position:absolute;
     z-index: 2;
    top:180px;
   left:80px;
     background-color: rgba(189, 49, 7, 0.844);
   width: 120px;
    height: 80px;
   clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);

}

.child16{
    position:absolute;
    top:180px;
     left:100px;
     background-color: rgba(213, 64, 19, 0.844);
  z-index: 3;
 width: 120px;
    height: 80px;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);

}
.child17{
    position:absolute;
   top:180px;
   left:120px;
     background-color: rgba(196, 75, 38, 0.844);
    z-index:4;
   width: 120px;
    height: 80px;
clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);

}
.child18{
    position:absolute;
   top:180px;
   left:140px;
   z-index:5;
     background-color: rgba(220, 84, 43, 0.844);
    width: 120px;
    height: 80px;
clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);

}
.child19{
    position:absolute;
   top:180px;
   left:160px;
   z-index:6;
     background-color: rgba(207, 115, 87, 0.844);
    width: 120px;
    height: 80px;
clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);

}
.child20{
    position:absolute;
   top:180px;
   left:180px;
   z-index:7;
     background-color: rgba(212, 133, 109, 0.844);
    width: 120px;
    height: 80px;
clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);

}
.child21{
    position:absolute;
   top:180px;
   left:200px;
   z-index:8;
     background-color: rgba(210, 151, 133, 0.844);
    width: 120px;
    height: 80px;
clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);

}
.child22{
    position:absolute;
   top:180px;
   left:220px;
   z-index:9;
     background-color: rgba(210, 163, 148, 0.844);
    width: 120px;
    height: 80px;
clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}



h2{
    width: 150px;
    height: 70px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
font-size: 50px;
margin: auto;
position: fixed;
    background-color: #c9740b;}